---
import Layout from '../layouts/Layout.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');
allPosts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));
---

<Layout title="Blog・kanae.dev">
    <main class="container mx-auto max-w-5xl">
        <h1 class="mb-8">ALL POSTS</h1>
        {allPosts.map((post) => 
            <article class="mb-20">
                <a href={post.url}>
                    <h2 class="text-2xl">{post.frontmatter.title}</h2>
                </a>
                <p class="my-2.5">{post.frontmatter.summary}</p>
                <div class="flex">
                    <time class="text-sm text-[#6c757d]">{post.frontmatter.date}</time>
                    <div class="text-sm text-[#6c757d]">
                        {post.frontmatter.tags.map((tag) => (
                            <span><a href={`/tags/${tag}`}>{tag}</a></span>
                        ))}
                    </div>
                </div>
            </article>
        )}
	</main>
</Layout>
