---
import Layout from '../layouts/Layout.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');
---

<Layout title="Blog・kanae.dev">
	<div>
        <h1 class="mb-5 text-sm">ALL POSTS</h1>
        {allPosts.map((post) => 
            <article class="mb-20 flex justify-between">
                <div>
                    <a href={post.url}>
                        <h2 class="text-3xl">{post.frontmatter.title}</h2>
                    </a>
                    <time class="text-sm text-[#9d9d9d]">{post.frontmatter.date}</time>
                    <p class="mt-4">{post.frontmatter.summary}</p>
                </div>
                <div>
                    <img src={post.frontmatter.thumbnail} class="object-cover h-48 w-96">
                </div>
            </article>
        )}
	</div>
</Layout>
