---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
	title: string;
	type: string;
}

const { title } = Astro.props;
const { type } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content={title}>
		<meta property="og:site_name" content="kanae.dev">
		<meta property="og:type" content={type}>
		<meta property="og:url" content={Astro.url}>
		<meta property="og:image" content="https://kanae.dev/favicon.png">
		<meta property="og:description" content="I am writing about my daily life.">
		<title>{title}</title>
		<script src="https://kit.fontawesome.com/86ced1b7f3.js" crossorigin="anonymous"></script>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-FWCYZJQN2G"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-FWCYZJQN2G');
		</script>
	</head>
	<body>
		<Header />
		<main class="container mx-auto px-4 lg:max-w-3xl">
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;


	@layer base {
		body {
			letter-spacing: .08em;
			color: #34495e;
			line-height: 1.5;
			font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro",
		"Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
		}

		code {
			font-family: "Source Code Pro", Monaco, Inconsolata, monospace;
			@apply text-sm;
		}

		a {
			@apply border-b-4 border-[#FCC5D3] font-semibold;
		}
	}

	@layer components {
		.hr-primary {
			@apply w-48 h-1 mx-auto my-12 bg-[#F67796] border-0 rounded md:my-10;
		}
	}
</style>
