---
import Layout from './Layout.astro';
import Tag from '../components/Tag.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');
allPosts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));

const { frontmatter } = Astro.props;

interface PaginationPosts {
	next: object;
	current: object;
	prev: object;
}

let posts: PaginationPosts = {
	next: {},
	current: {},
	prev: {},
};

allPosts.forEach((post, index) => {
	if (post.frontmatter.title == frontmatter.title) {
		if (allPosts[index + 1]) {
			posts.prev = allPosts[index + 1];
		}
		if (allPosts[index - 1]) {
			posts.next = allPosts[index - 1];
		}
		posts.current = allPosts[index];
	}
});

---

<Layout title={frontmatter.title}>
	<article>
		<header class="my-5">
			<h1 class="text-xl lg:text-3xl mb-1">{frontmatter.title}</h1>
			<div class="flex">
				<time class="text-sm text-gray-400">{new Date(frontmatter.date).toLocaleDateString()}</time>
			</div>
			<div class="my-4">
				<ul class="flex">
					<li class="pr-3"><a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="basic-label-counter" data-hatena-bookmark-lang="ja" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script></li>
					<li><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
					</ul>
			</div>
		</header>
		<section>
			<slot />
		</section>
		<footer class="mt-5 border-t">
			<div class="py-4">
				{frontmatter.tags.map((tag: any) => (
					<Tag tag={tag} />
				))}
			</div>
			<nav class="flex my-4 gap-4">
				{posts.prev.url ? 
				<div class="flex flex-col rounded-md py-2 px-4 flex-1 bg-gray-100 text-sm">
					<span class="opacity-60 pb-3">previous</span>
					<a href={posts.prev.url}>{posts.prev.frontmatter.title}</a>
				</div>
				: null }
				{posts.next.url ? 
				<div class="flex flex-col rounded-md py-2 px-4 flex-1 bg-gray-100 text-sm">
					<span class="opacity-60 pb-3">next</span>
					<a href={posts.next.url}>{posts.next.frontmatter.title}</a>
				</div>
				: null }
			</nav>
		</footer>
	</article>
</Layout>

<style>
	section :global(h2) {
		@apply text-xl my-3 leading-relaxed;
	}

	section :global(h3) {
		@apply text-lg my-3.5 leading-relaxed;
	}

	section :global(h4) {
		@apply text-base my-4 leading-relaxed;
	}

	section :global(p) {
		@apply my-4 leading-relaxed;
	}

	section :global(a) {
		@apply text-cyan-600;
	}

	section :global(ul) {
		@apply my-4 pl-6 list-disc;
	}

	section :global(ol) {
		@apply my-4 pl-6 list-decimal;
	}

	section :global(pre) {
		@apply p-4 my-2;
	}

	section :global(table) {
		@apply text-sm my-8;
	}

	section :global(thead) {
		@apply border-b border-gray-300;
	}

	section :global(tr) {
		@apply border-b border-gray-200;
	}

	section :global(td) {
		@apply p-2;
	}

	section :global(section) {
		@apply border-t border-dashed mt-10 text-xs;
	}
</style>
