---
import Layout from './Layout.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');
allPosts.sort((a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date));

const { frontmatter } = Astro.props;

interface PaginationPosts {
	next: object;
	current: object;
	prev: object;
}

let posts: PaginationPosts = {
	next: {},
	current: {},
	prev: {},
};

allPosts.forEach((post, index) => {
	if (post.frontmatter.title == frontmatter.title) {
		if (allPosts[index + 1]) {
			posts.next = allPosts[index + 1];
		}
		if (allPosts[index - 1]) {
			posts.prev = allPosts[index - 1];
		}
		posts.current = allPosts[index];
	}
});

---

<Layout title={frontmatter.title}>
	<main class="container mx-auto max-w-3xl p-16">
		<article>
			<header class="my-6">
				<h1 class="text-4xl mb-1">{frontmatter.title}</h1>
				<time class="text-sm">{new Date(frontmatter.date).toLocaleDateString()}</time>
			</header>
			<section class="pt-12">
				<slot />
			</section>
			<footer>
				<nav class="flex mt-16 gap-4 mb-4">
					{posts.prev.url ? 
					<div class="flex flex-col border border-solid border-gray-700 rounded-md p-1 flex-1">
						<span class="opacity-60 pb-5">previous</span>
						<a href={posts.prev.url}>{posts.prev.frontmatter.title}</a>
					</div>
					: null }
					{posts.next.url ? 
					<div class="flex flex-col border border-solid border-gray-700 rounded-md p-1 flex-1">
						<span class="opacity-60 pb-5">next</span>
						<a href={posts.next.url}>{posts.next.frontmatter.title}</a>
					</div>
					: null }
				</nav>
				<div>
					{frontmatter.tags.map((tag: any) => (
						<span class="text-sm">
							<a href={`/tags/${tag}`} class="py-1 px-2 border-solid border border-gray-700 rounded-md">{tag}</a>
						</span>
					))}
				</div>
			</footer>
		</article>
	</main>
</Layout>

<style is:global>
	h2, h3 {
		@apply mt-16;
	}

	h2 {
		@apply text-3xl;
	}

	h3 {
		@apply text-2xl;
	}

	p {
		@apply mt-9;
	}

	section a {
		@apply underline;
	}

	ul, ol, pre {
		@apply mt-3;
	}

	pre {
		@apply p-4;
	}

	article ul, ol {
		@apply pl-10;
	}

	article ul li {
		@apply list-disc;
	}

	article ol li {
		@apply list-decimal;
	}
</style>
